{%load static%}
<html>
    <head>
        <title>Welcome to your heart care</title>
        <link rel="stylesheet" href='{% static 'style1.css' %}' type="text/css">
        <link rel="icon" href='{% static 'heart.png' %}'>
        
    </head>
    <body>
        <div class="banner">
        <div class="navbar">
        <div class="text">
        <img src="{% static 'heartlogo1.png '  %}" class="logo" width="140px" height="100px">
        </div>
        </div>
        </div>
        <div class="content">
            <div class="text"><h2 style="color:darkgoldenrod;"><u><b>Predicted Result</b></u></h2></div>
            <br>
            <h2>{{res}}</h2>
            </br>
            <!--THis shows the predicted result for public -->
            <p>Please select your option</p>
            <div>
                <form>
                {% csrf_token %}
                </form>
                <a href="{%url 'mainpage'%}">
                <button type="button"><span></span>Home Page</button>
                </a>
                <a href="{%url 'clientpage'%}">
                <button type="button"><span></span>Public Page</button>
                </a>
                <br>
                <a href="{%url 'publicPrescription'%}">
                <button type="button" id="add"><span></span>Get Life Style Predictions</button>
                </a>
                </br>
    
            </div>
 
        </div>
    
    </body>

    </html>