<!DOCTYPE >
{%load static%}
<html>
    <head>
        <title>Welcome to your heart care</title>

        <link rel="stylesheet" href='{% static 'style6.css' %}' type="text/css">
        <link rel="icon" href='{% static 'heart.png' %}'>
        <script>
            findMyCoordinates();
            function findMyCoordinates() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
            function(position) {
                const latitude = position.coords.latitude;
                const longitude = position.coords.longitude;
                console.log("Latitude:", latitude);
                console.log("Longitude:", longitude);
                
                const bdcAPI = `https://api.bigdatacloud.net/data/reverse-geocode-client?latitude=${latitude}&longitude=${longitude}`;
                getAPI(bdcAPI, latitude, longitude);
            },
            function(err) {
                console.error("Error getting geolocation:", err.message);
                alert(err.message);
            }
        );
    } else {
        console.error("Geolocation is not supported by your browser");
        alert("Geolocation is not supported by your browser");
    }
}

function getAPI(bdcAPI, latitude, longitude) {
    console.log("Requesting city information from API:", bdcAPI);
    
    const xhr = new XMLHttpRequest();

    xhr.open("GET", bdcAPI);
    xhr.send();

    xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            const city = JSON.parse(this.responseText).city;
            console.log("Received city:", city);
            sendDataToServer(latitude, longitude, city);
            result.innerHTML = "City: " + city;
        }
    };
}

function sendDataToServer(latitude, longitude, city) {
    console.log("Sending data to server - Latitude:", latitude, "Longitude:", longitude, "City:", city);
    
    // Create an object to store the data
    const dataObject = {"latitude": latitude, "longitude": longitude, "city": city};
    
    // Convert the data object to a JSON string
    const jsonData = JSON.stringify(dataObject);

    // Store the JSON string in a cookie
    document.cookie = "cityData=" + encodeURIComponent(jsonData) + "; path=/";

    // Log a message to indicate that the data has been stored in the cookie
    console.log("City data stored in cookie.");
}

           

            
        </script>
    </head>
    <style>

    </style>
    <body>
        <!--we get the basic information from public-->
        <center><h1 style="color:ghostwhite">Fill in the Details</h1></center>
        <div class="banner">
        <div class="navbar">
            <ul>
                <li><a href="{%url 'mainpage'%}">Home Page</a></li>
            </ul>
        </div>
        <div class="text">
        </div>
        </div>
        <div class="loginbox">
            <img src="{% static 'heartlogo1.png '  %}"class="avatar">
            <h1><b><u>For Public</u></b></h1>
            <br>
            {% if message %}
            <p style="color: red;">{{ message }}</p>
            {% endif %} 
            <form method="post" id="myForm"  action="{%url 'clientpage2' %}">
               {% csrf_token %}
                

    
                <label><b>What is your age?</b></label>
                <select name="age" id="age">
                    <option value="">Select</option>
                    <option value="10-20">10-20</option>
                    <option value="20-30">20-30</option>
                    <option value="30-40">30-40</option>
                    <option value="40-50">40-50</option>
                    <option value="50-60">50-60</option>
                    <option value="60+">60+</option>
                  </select>
                
                
                <p><br><b>Please mention your height (m)</b></p>
                <input type="number" step="0.01" name="height" placeholder="Enter height">
                <p><b>Please mention your weight (kg)</b></p>
                <input type="number" step="0.01" name="weight" placeholder="Enter weight">
                <!--<label><b>Enter your Location</b></label>
                <select name="loc" id="loc">
                    <option value="Chennai">Chennai</option>
                    <option value="Thanjavur">Thanjavur</option>
                    <option value="Trichy">Trichy</option>
                    <option value="Coimbatore">Coimbatore</option>
                    <option value="Madurai">Madurai</option>
                    <option value="Salem">Salem</option>
                    <option value="Cuddalore">Cuddalore</option>
                  </select>-->
                  <br>
                  
                  
                  <b>Have you been experiencing chest pain recently?<select id="chp" name="chp" >
                    <option value="">Select</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                    </select></b><br><br>
                    
                    
            
                        
                    
                      
                  
                  
                  
                  
                    
                  
                
  
                
                <label><b>Have you been feeling fatigue more often?<select id="ftg" name="ftg"><option>Select</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                    </select></b></label><br><br>
                
                <label><b>Does your family has a history of CAD related disease?<select id="cadis" name="cadas"><option>Select</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                    </select></b></label><br><br>
                
                <label><b>Are you experiencing shortness of breath and/or difficulty breathing when lying down?<select id="shb" name="breath"><option>Select</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                    </select></b></label><br><br>
                
                <label><b>Do you have a history of hypertension?<select id="hyp" name="hyp"><option>Select</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                    </select></b></label><br><br>

                <label><b>Dave you been experiencing stress recently?<select id="str" name="str"><option>Select</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                    </select></b></label><br><br>
                
                <label><b>Do you have a history of diabetes?<select id="db" name="dbs"><option>Select</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                    </select></b></label><br><br>
                
                
                <label><b>Do you have a history of stroke?<select id="stke" name="stke" >
                    <option>Select</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                    </select></b></label><br><br>
                
            
                
                    <button style="background-color:turquoise" id="add" type="submit" value="Get Predictions">Submit</button><span></span>
            </form>   
            <script>
                document.getElementById('myForm').onsubmit = function() {
                    return confirm('Are you sure you want to submit?');
                };
            </script>
            
        </div>
    </body>
</html>