{%load static%}
<html>
    <head>
        <title>Welcome to your heart care</title>
        <link rel="stylesheet" href='{% static 'style5.css' %}' type="text/css">
        <link rel="icon" href='{% static 'heart.png' %}'>
    </head>
    <body>
        <!--THis shows the lifestyle predictions and nearby doctor's for public-->
        <div class="navbar">
            <ul>
                <li><a href="{%url 'mainpage'%}">Home Page</a></li>
            </ul>
        </div>
        <div class="text">
            <h2 style="color:darkgoldenrod; display: block;">Life Style Predictions</h2>
                <ul style="color:aqua;">
                    {% for item in  data1 %}
                        <li>{{ item }}</li>
                    {% empty %}
                        <li>You can continue with your lifestyle.</li>
                    {% endfor %}
                </ul>
           
            
                <div style="clear: both;"></div>
               <br> <h2 style="color:darkgoldenrod;display: block;">Doctors</h2>
                <ul style="color:aqua;">
                    {% for item in doc %}
                        <li>{{ item }}</li>
                    {% empty %}
                        <li>No cardiologits are available in your location.</li>
                    {% endfor %}
                </ul>
            </div>         
        
            <br>
            
            <br>
            <h2 style="color: azure;">{{res}}</h2>
            <br>
         

    </body>

    </html>