<html>
    <head>
        <title>MESSIFY</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="icon" href="green-apple-benefits.jpeg">
    </head>
    <body>
        <div class="text">
            <img src="MEESIFY.jpg" class="logo">
        </div>
    <div class="loginbox">
    <img src="download.png" class="avatar">
        <h1>Login here</h1>
        <form>
            <p>Username</p>
            <input type="text" name="" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="" placeholder="Enter Password">
            <a href="messify2.html">
            <input type="submit" name="" value="Login">
            </a>
           

        </form>
    </div>

    </div>
    </body>



</html>